@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .custom-loader {
      @apply w-[70px] h-[70px] bg-[#ffa600] rounded-full;
      -webkit-mask: radial-gradient(
               circle 31px at 50% calc(100% + 13px),
               #000 95%,
               #0000
            )
            top 4px left 50%,
         radial-gradient(circle 31px, #000 95%, #0000) center,
         radial-gradient(circle 31px at 50% -13px, #000 95%, #0000) bottom 4px
            left 50%,
         linear-gradient(#000 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      animation: cu10 1.5s infinite;
   }

   @keyframes cu10 {
      0% {
         -webkit-mask-size: 0 18px, 0 18px, 0 18px, auto;
      }
      16.67% {
         -webkit-mask-size: 100% 18px, 0 18px, 0 18px, auto;
      }
      33.33% {
         -webkit-mask-size: 100% 18px, 100% 18px, 0 18px, auto;
      }
      50% {
         -webkit-mask-size: 100% 18px, 100% 18px, 100% 18px, auto;
      }
      66.67% {
         -webkit-mask-size: 0 18px, 100% 18px, 100% 18px, auto;
      }
      83.33% {
         -webkit-mask-size: 0 18px, 0 18px, 100% 18px, auto;
      }
      100% {
         -webkit-mask-size: 0 18px, 0 18px, 0 18px, auto;
      }
   }
}

* {
   padding: 0;
   margin: 0;
}
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
